// Descriptive Colors
$white: #ffffff;
$blue: #3f51b5;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;
$dark-db:#333C44;

// Functional Colors
$primary--color: $dark-db;
$secondary--color: $white;
$menu--color:$white

