<div id="DIV_1">
	<div id="DIV_2">
		<section id="SECTION_3">
			<div id="DIV_4">
				<div id="DIV_5">
					<div id="DIV_6">
						<div id="DIV_7">
							<div id="DIV_8">
								<img [src]="thumbnail" id="IMG_9" alt='' />
							</div>
							<div id="DIV_10">
								<h3 id="H3_11">
									 <a href="#" id="A_12">{{artist.userName}}</a>
									<!-- Available statuses: online, idle, busy, away and offline -->
<span id="SPAN_13"></span>
								</h3>
								<p id="P_14">
									Music Composer
								</p>
								<p id="P_15">
									Has created music for all the rock music fans and lovers. Dedicated life to music.
								</p>
								<br id="BR_23" /> 
								<div id="DIV_26">
								</div><br id="BR_27" /> 
								<div id="DIV_29">
									<div id="DIV_30">
										 <strong id="STRONG_31">{{follower}}</strong> <span id="SPAN_32">Follower</span>
									</div>
									<div id="DIV_33">
										 <strong id="STRONG_34">{{likes}}</strong> <span id="SPAN_35">Likes</span>
									</div>
									<div id="DIV_36">
										 <strong id="STRONG_37">{{dislikes}}</strong> <span id="SPAN_38">DisLikes</span>
									</div>
								</div>
							</div>
						</div>
						<div id="DIV_39">
							<div id="DIV_40">
							</div>
						</div>
					</div>
					<div id="DIV_41">
						<div id="DIV_42">
							<div id="DIV_47">
								<div class="about">
									<h4 id="H4_43">
										Biography:
									</h4>
									<p id="P_44">
										{{biography}}
									</p>
									<br id="BR_45" />
								</div>
								
								<h2>
									Basic Profile Info
								</h2><br id="BR_49" />
								<div style="display: flex;">
									<h4 id="H4_43">
										Name:
									</h4>
									<p id="P_44">
										{{artist.userName}}
									</p>	
								</div>
								
								<br id="BR_45" />
								<div style="display: flex;">
									<h4 id="H4_43">
										DATE OF BIRTH:
									</h4>
									<span style="margin-left:10px; font-size: 20px;">
										{{artist.dob}}
									</span>
								</div>
								<br id="BR_45" />	
								<div style="display: flex;">
									<h4 id="H4_43">
										GENDER:
									</h4>
									<span style="margin-left:10px; font-size: 20px;">
										{{gender}}
									</span>
								</div>
								<br id="BR_45" />	
								<div style="display: flex;">
									<h4 id="H4_43">
										CITY:
									</h4>
									<span style="margin-left:10px; font-size: 20px;">
										{{artist.city}}
									</span>
								</div>
								<br id="BR_45" />	
								<div style="display: flex;">
									<h4 id="H4_43">
										COUNTRY:
									</h4>
									<span style="margin-left:10px; font-size: 20px;">
										{{artist.country}}
									</span>
								</div>
								<br id="BR_45" />
								<div style="display: flex;">
									<h4 id="H4_43">
										Mobile:
									</h4>
									<span style="margin-left:10px; font-size: 20px;">
										{{artist.mobile}}
									</span>
								</div>
								<br id="BR_45" />
								<div style="display: flex;">
									<h4 id="H4_43">
										Note:
									</h4>
									<p id="P_44">
										{{artist.addNote}}
									</p>	
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>