<div id="DIV_1">
        <!-- START TOPBAR -->
    
        <div id="DIV_2">
                <img  id = "logoimage" src="../../../assets/icons/logo.png" alt="Italian Trulli">
        </div>
        <div id="DIV_3">
            <div id="DIV_4">
                <ul id="UL_5"> 
                    <li id="LI_6">
                        <button mat-icon-button (click)="toggleSideBar()"><mat-icon>menu</mat-icon></button>
                        <a id="A_7"> <i id="I_8"></i></a>
                    </li>
                </ul>
            </div>
            
            <div id="DIV_9">
                    <span id="SPAN_10"></span>
                    <h1 id="H1_11">
                        Music
                    </h1>
                    <div id="DIV_12">
                    </div>
            </div>
            <div id="DIV_13">
                <ul id="UL_14">
                    <li id="LI_81">
                         <a id="A_82"> <i id="I_83">notifications</i> <span id="SPAN_84">3</span></a>
                        <ul id="UL_85">
                            <li id="LI_86">
                                 <span id="SPAN_87">You have <strong id="STRONG_88">3</strong> new notifications. <a href="javascript:;" id="A_89">Mark all as Read</a></span>
                            </li>
                            <li id="LI_90">
                                <div id="DIV_91">
                                    <div id="DIV_92">
                                        <ul id="UL_93">
                                            <!-- ngRepeat: notification in notifications -->
    
                                            <li id="LI_94">
                                                <!-- available: success, warning, info, error -->
    <a href="javascript:;" id="A_95"></a>
                                                <div id="DIV_96">
                                                     <i id="I_97">build</i>
                                                </div>
                                                <div id="DIV_98">
                                                    <span id="SPAN_99"></span>
                                                    <h4 id="H4_100">
                                                        Server needs to reboot
                                                    </h4> <span id="SPAN_101">15 mins ago</span>
                                                </div>
                                            </li>
                                            <!-- end ngRepeat: notification in notifications -->
    
                                            <li id="LI_102">
                                                <!-- available: success, warning, info, error -->
    <a href="javascript:;" id="A_103"></a>
                                                <div id="DIV_104">
                                                     <i id="I_105">attach_file</i>
                                                </div>
                                                <div id="DIV_106">
                                                    <span id="SPAN_107"></span>
                                                    <h4 id="H4_108">
                                                        45 new messages
                                                    </h4> <span id="SPAN_109">45 mins ago</span>
                                                </div>
                                            </li>
                                            <!-- end ngRepeat: notification in notifications -->
    
                                            <li id="LI_110">
                                                <!-- available: success, warning, info, error -->
    <a href="javascript:;" id="A_111"></a>
                                                <div id="DIV_112">
                                                     <i id="I_113">autorenew</i>
                                                </div>
                                                <div id="DIV_114">
                                                    <span id="SPAN_115"></span>
                                                    <h4 id="H4_116">
                                                        Server IP Blocked
                                                    </h4> <span id="SPAN_117">1 hour ago</span>
                                                </div>
                                            </li>
                                            <!-- end ngRepeat: notification in notifications -->
    
                                            <li id="LI_118">
                                                <!-- available: success, warning, info, error -->
    <a href="javascript:;" id="A_119"></a>
                                                <div id="DIV_120">
                                                     <i id="I_121">person</i>
                                                </div>
                                                <div id="DIV_122">
                                                    <span id="SPAN_123"></span>
                                                    <h4 id="H4_124">
                                                        10 Orders Shipped
                                                    </h4> <span id="SPAN_125">Yesterday</span>
                                                </div>
                                            </li>
                                            <!-- end ngRepeat: notification in notifications -->
    
                                            <li id="LI_126">
                                                <!-- available: success, warning, info, error -->
    <a href="javascript:;" id="A_127"></a>
                                                <div id="DIV_128">
                                                     <i id="I_129">cloud</i>
                                                </div>
                                                <div id="DIV_130">
                                                    <span id="SPAN_131"></span>
                                                    <h4 id="H4_132">
                                                        New Comment on blog
                                                    </h4> <span id="SPAN_133">14th Mar</span>
                                                </div>
                                            </li>
                                            <!-- end ngRepeat: notification in notifications -->
    
                                        </ul>
                                    </div>
                                    <div id="DIV_134">
                                        <div id="DIV_135">
                                        </div>
                                    </div>
                                    <div id="DIV_136">
                                        <div id="DIV_137">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_138">
                                 <a href="javascript:;" id="A_139"> <span id="SPAN_140">Read All Notifications</span></a>
                            </li>
                        </ul>
                    </li>
                   
                </ul>
            </div>
            <div id="DIV_144">
                <ul id="UL_145">
                    <li id="LI_146">
                        <div id="DIV_147">
                             <span id="SPAN_148"> <i id="I_149">search</i></span>
                            <form action="search-page.html" method="post" id="FORM_150">
                                <input type="text" id="INPUT_151" />
                                <input type="submit" id="INPUT_152" />
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- END TOPBAR -->
    
    </div>