
.form-body{
    background-color: #9683E5;;
    height: 100%;
}

.form-body > .row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}



/*#H3_1:before*/



/* @media (max-width: 992px){
    .form-holder {
        margin-left: 0;
    }
}

@media (max-width: 992px){
    .form-holder .form-content {
        position: relative;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
        min-height: 100%;
    }


} */
.form-content {
    /* background-color: #9683FA; */
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-items{
    max-width: 340px;
    text-align: center;
    display: inline-block;
    width: 100%;
    transition: all 0.4s ease;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.website-logo-inside{
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.logo-size{
    width: 150px;
    /* height: 70px; */
    border-radius: 30%;
    background-size: contain;
    background-repeat: no-repeat ;
}



.form-content h3{
    color: #fff;
    text-align: center;
    font-family: 'Lato','sans-serif';
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    position:relative;
    display: flex;
    align-items: center;
    display: inline-block;
    font-style: normal;



 }/*#H3_1:after*/



.form-content p{
    color: #fff;
    text-align: center;
    font: normal normal 300 normal 18px / 20px Lato, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    font-size: 18px;
    font-weight:300;
    line-height:20px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
p{
  margin-top: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}






.page-links{
    /* margin-bottom: 34px; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: flex;
    margin-left: 30%;


}

/*#A_1:before*/



.active{
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 5px;
    padding: 2px;
    /* width: 100px; */
    text-align: center;
}

/* .active:hover{
    color: #179b77;
} */
.form-content .page-links a.active{
  font-weight: 700;
}
.form-content .page-links a{
  color: #fff;
}
.form-content .page-links a{
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Lato', sans-serif;

}
a{
    text-decoration: none;
    position: relative;
}
.logi:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -8px;

    border-width: 0 0 2.5px;
    border-style: solid;
}
a{
    text-decoration: none;
    position: relative;
}
.loggi:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -8px;

    border-width: 0 0 2px;
    border-style: solid;
}


